<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="topnav">
      <div class="login-container">
      <a class="lgbtn" href="{% url 'home' %}">Home</a>
      </div>
  </div>  
    <div class="center">
      <h1>Register Account</h1>
      <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="txt_field">
          {{form.username}}
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          {{form.email}}
          <span></span>
          <label>Email</label>
        </div>
        <div class="txt_field">
          {{form.first_name}}
          <span></span>
          <label>First Name</label>
        </div>
        <div class="txt_field">
          {{form.last_name}}
          <span></span>
          <label>Last Name</label>
        </div>
        <div class="txt_field">
          <input type="date" name="dofb">
          <span></span>
          <label>Date of Birth</label>
        </div>
        <div class="txt_field">
          {{form.password1}}
          <span></span>
          <label>Enter Password</label>
        </div>
        <div class="txt_field">
          {{form.password2}}
          <span></span>
          <label>Re-enter Password</label>
        </div>
        
     
          <input type="submit" value="Register">
          {{form.errors}}
          <div class="register_link">
            Already have a Username? <a href="{% url 'login' %}">Login</a>
          </div>
          
      </form>
    </div>

  </body>
</html>